* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
.docOPD-title span {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #03AD98;
}
.section1 {
    margin-top: 200px;
}
.section1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #3B3F48;
}
.lab h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    color: #2C2C2C;
}
/* .lab p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #3B3F48;
} */
.lab-content {
    padding-left: 60px;
    padding-right: 32px;
}
/* .opd h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    color: #2C2C2C;
} */
.opd p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #3B3F48;
    padding: 0 37px 0 0;
    text-align: left;
}
.opd-heading {
    padding-left: 30px !important;
    padding-right: 58px!important;
}
.opd-heading {
    padding-top: 70px;
}
.opdpara {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #3B3F48;
    text-align: left;
}
.btn-info {
    background: #03AD98;
    box-shadow: 0px 4px 10px rgba(1, 95, 92, 0.3);
    color: #fff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-info:hover {
    background: #03AD98;
    color: #FFFFFF;
}
.app {
    margin-top: 85px;
    margin-bottom: 40px;
}
.btn-info {
    background: #03AD98;
    box-shadow: 0px 4px 10px rgba(1, 95, 92, 0.3);
    color: #fff;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-info:hover {
    color: #fff;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    width: 180px;
}

.healthcare-heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    text-align: center;
    color: #2C2C2C;
    padding-top: 65px;
}

.box-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    text-align: center;
    color: #2C2C2C;
    mix-blend-mode: normal;
}

.box-para {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 10px;
    text-align: center;
    color: #3B3F48;
}
.underln{
    z-index: 1;
    position: relative;
}
.underln::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    height: 18px;
    background: #D8EDE9;
    z-index: -1;
}
.healthcare {
    background: #EAF4F3;
    border-radius: 12px;
    margin-top: 110px;
    padding-bottom: 65px;
    position: relative;
    overflow: hidden;
}
.largewave {
    position: absolute;
    left: 0;
    top: 16px;
    width: 251px;
    height: 58px;
}
.smallwave {
    position: absolute;
    right: 7%;
    width: 201px;
    top: 85.02%;
    height: 119px;
}
.neel {
    position: absolute;
    right: 7%;
    width: 192px;
    top: 79.02%;
    height: 205px;
}
.box2 {
    margin: 21px 2px 21px 10px;
    padding: 42px 8px 0px 20px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 320px;
    height: 200px;
}
.box2 h1,
p {
    text-align: center;
}
.box2 img {
    position: relative;
    top: -25%;
    left: -5%;
    width: 80px;
    height: 80px;
}
.healthcare::after {
    content: '';
    background-image: url(/images/largewave_172x102.png);
    position: absolute;
    top: 0;
    left: 0;
}
.people-heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    text-align: center;
    color: #2C2C2C;
}
.people {
    margin-top: 116px;
}
.people img {
    position: relative;
    border-radius: 12px;
    width: 430px;
    height: 562px;
    top: 4%;
}
.people-para {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    padding-top: 10px;
    text-align: center !important;
    color: #2C2C2C;
    mix-blend-mode: normal;
}
.people p {
    text-align: center !important;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #3B3F48;
}
.title_1 {
    font-family: 'Oswald'!important;
    padding-top: 40px!important;
    margin-bottom: 0px;
    color: #3B3F48!important;
}
.designation_1 {
    font-size: 18px!important;
}
.enroll-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.healthcare>button {
    background: #C3E1DC !important;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(1, 95, 92, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}




.enroll h1 {

    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
}

.box {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.box:hover {
    background: #16c9f6;
}

.box:hover .box a:after {
    background: white !important;
}

.box:hover p {
    color: white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px !important;
}

.carousel-indicators li {
    background-color: #16c9f6 !important;
}

.box a {
    position: relative;
}

.box a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after {
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: #3B3F48;
    padding-left: 15px;
}
.box h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #3B3F48;
    margin-top: -2px;
    margin-bottom: 20px;
    padding-left: 15px;
}
.m-4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #3B3F48;
    text-align: left;
}

.video {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #03AD98;

}

.slide {
    text-align: right;
}

.customer {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
    margin-bottom: 40px;
}
.app {
    margin-top: 110px !important;
}
.app h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    color: #2C2C2C;
}
.app p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #3B3F48;
    text-align: left;
    padding: 10px 0 10px 0;
}
.app img {
    margin-right: 10px;
}
.doc {
    margin-top: 110px;
}
.docOPD-section p {
    padding: 5px 215px;
    font-weight: 400;
    font-size: 18px;
}
.docOPD-title {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: center;
    color: black;
    font-family: 'Oswald';
}
.docOPD-title span {
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #03AD98;
}

.opdtext {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 65px;
    color: #2C2C2C;


}

.section1 p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #3B3F48;
    padding-left: 10.92%;
    padding-right: 10.9%;
    padding-top: 1%;
}
.lab h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
}
.lab p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #3B3F48;
    padding-right: 32px;
    text-align: left;
}
header,
.banner {
    background-color: #EAF4F3;
}

.banner {
    padding-top: 40px;
}

.navbar-bg {
    min-height: 112px;
    position: relative;
    z-index: 99;
}

.navbar-brand {
    height: auto !important;
}

.navbar-bg .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.navbar-bg .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.navbar-bg .menu_fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
    box-shadow: 0 0 10px #e2dfdf;
}

.navbar-bg .navbar {
    left: 0;
    z-index: 999;
    background-color: #EAF4F3;
    margin-bottom: 0px;
}

header .main_logo img {
    height: 70px;
    padding-left: 60px;
}

header .right_section {
    padding-right: 60px;
}

.home_page_btn {
    height: 51px;
    width: 228px;
    padding: 16px 26px 16px 26px;
    border: 1px solid #03AD98;
    border-radius: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: SemiBold;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #03AD98;
}

.right_section {
    display: flex !important;
    justify-content: flex-end;
}

.right_section .home_page_btn {
    background: transparent;
    margin-right: 55px;
    color: #03AD98;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

}

.right_section .language {
    display: flex;
    align-items: center;
}

.right_section ul li {
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: left;
}

.right_section ul li a {
    color: #2C2C2C;
}

.hero-image {
    width: 400px;
}

.hero-image .email-icon {
    max-width: 100%;
    display: block;
}

.hero-para p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
}

.hero-head p {
    letter-spacing: 0px;
    text-align: left;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 104px;
    color: #2C2C2C;
}

.banner .health {
    z-index: 1;
    font-style: normal;
    position: relative;
}

.banner .health::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13px;
    height: 18px;
    background: #D8EDE9;
    z-index: -1;
}
.banner .hero-text {
    padding-left: 60px;
}
.search-p {
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    margin-top: -107px;
    background: #fff;
    z-index: 1;
    position: relative;
}
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    padding-top: 12px;
}

.custom-select-trigger {
    /* border-bottom: 1px solid #9bd1ff; */
    position: relative;
    min-width: 130px;
    padding: 0 104px 5px 0;
    cursor: pointer;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    border-bottom: 2px solid #868686;
    border-right: 2px solid #868686;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    /* top: 100%; */
    left: 0%;
    right: 0;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    transition: opacity 0s ease-in-out,
        transform 0s ease-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-20px);
    border: 0;
    line-height: 24px;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    margin-top: 1px;
    border-radius: 5px;
    background-color: #fff;
}

.custom-option:hover,
.custom-option.selection {
    color: #000;
    background-color: rgb(234 244 243);
}

.custom-select-wrapper select {
    display: none;
}

.custom-option {
    position: relative;
    display: block;
    cursor: pointer;
    transition: all 0s ease-in-out;
}

.custom-option,
.custom-select-trigger {
    font-size: 18px;
    color: #868686;
    padding: 10px;
}
.selected-content.one {
    /*     display: block; */
    opacity: 1;
    transform: translateY(0);
    color: #868686;
    font-size: 18px;
    line-height: 24px;
}

.selected-content.one.leaving {
    /*     display: none; */
    opacity: 0;
    transform: translateY(-1em);
}

.selected-content.two {
    display: none;
    opacity: 0;
    transform: translateY(0em);
    margin-bottom: -1em;
}

.selected-content.two.entering {
    /*     display: block; */
    opacity: 1;
    transform: translateY(-1.15em);
}

.search-tab {
    margin-top: 27px;
}

.search-tab ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.search-tab ul li {
    display: inline-block;
    margin-right: 25px;
}

.search-tab ul li a {
    text-decoration: underline;
    color: #03AD98 !important;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

}

.animate {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.hero-image .img {
    position: relative;
    width: 500px;
    height: 500px;
    background: transparent;
    margin-top: -50px;
}

.hero-image .email-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
}

.hero-image .social-icons {
    height: 100%;
    animation: rotation 40s ease infinite;
}

.hero-image .social-icons img {
    position: absolute;
    width: 45px;
    height: 45px;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

.hero-image .social-icons img:nth-child(1) {
    top: 31px;
    left: 50%;
}

.hero-image .social-icons img:nth-child(2) {
    top: 51%;
    right: 70px;
}

.hero-image .social-icons img:nth-child(3) {
    top: 82%;
    left: 57%;
}

.hero-image .social-icons img:nth-child(4) {
    top: 25%;
    left: 69px;
}

/* .social-icons img:nth-child(5) {
    top: 70%;
    left: 10%;
} */

.footer-sect {
    background: #00AE99;
    margin-top: 100px;
    padding-bottom: 20px;
}
.social-menu ul {
    /* position: absolute;
    top: 55%;
    left: 42%;
    transform: translate(-50%, -50%); */
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin-right: 20px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.footer-menu {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0 0px 0;
}
.footer-menu a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.terms {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    text-align: center;

    color: #FFFFFF;
}

.footer h2 {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.footer>l1,
a {

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;


}

.menu-section ul {
    padding-left: unset;
}

.icon-section ul {
    padding-left: unset;
}


.menu-section>li,
a {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu-section>li,
a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer ul {
    line-height: 1.8em;
}

.footer-logo {
    width: 160px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: relative;
    left: 13%;
}
.icon-section {
    padding-top: 20px;
}
.menu-section {
    padding-top: 20px;
}
.logo-section {
    padding-top: 38px;
}
.phone,
.envelope {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    color: #FFFFFF;
    text-align: left;
    padding: 8px 0 20px 0;
}
.copyright {
    background-color: #00665A;
}
.copyright p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px 0 8px 0;
    margin-bottom: 0px;
}
ul {
    list-style: none;
}
.social-icon {
    padding-top: 10px;
}
.language a {
    font-size: 18px;
    color: #000 !important;
}
/* .social-menu {
    position: relative;
    top: 10%;
    left: 10%;
} */
/* .orange {
    text-shadow: 0 0 3em #027e6f;
    animation: glow 1.5s ease-in-out infinite;
  }
  @keyframes glow {
    0%, 100% {
      text-shadow: 0 0 1em #b4fef5, 0 0 3em #9bfdf2, 0 0 10em #68fdeb, 0 0 10em #04fbde, 0 0 0.4em #03c9b2;
      color: #03ad98;
    }
    50% {
      text-shadow: 0 0 0.5em #b4fef5, 0 0 1.5em #9bfdf2, 0 0 5em #68fdeb, 0 0 5em #04fbde, 0 0 0.2em #03c9b2;
      color: #027e6f;
    }
  }  */

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 100px;
}

.parallax>use {
    -webkit-animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    animation: moveForever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}
.ceo {
    text-align: right;
}
.opd-cloud {
    background-image: url("../images/opdback_706x512.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.lab-cloud {
    background-image: url("../images/labback_706x512.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.clinic-cloud {
    background-image: url("../images/digitalback_702x512.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.mobile-cloud {
    background-image: url("../images/mobileback_739x721.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.swiper {
    width: 100%;
    /* height: 100%; */
    padding-bottom: 100px !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides {
    padding: 24px;
    background: #EAF4F2;
    border-radius: 12px;
}

.slides img {
    border-radius: 12px;
}

.slides .date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    line-height: 24px;
    text-align: left;
    color: #2C2C2C;
    mix-blend-mode: normal;
}

.slides .desc {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #2C2C2C;
    mix-blend-mode: normal;
    text-align: left;
}

.slide-content {
    text-align: initial;
}

.read {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #00AE99;
    text-decoration: none;
}

.swiper-button-next,
.swiper-button-prev {
    bottom: 0 !important;
    top: auto !important;
    background: #03AD98;
    color: #fff;
    border-radius: 5px;
    width: 55px;
    height: 55px
}

.swiper-button-next {
    right: 43% !important;
}

.swiper-button-prev {
    left: 47% !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 16px !important;
    font-weight: bold;
    color: #000;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    font-size: 16px !important;
    font-weight: bold;
    color: #fff;
}
.blog-swiper {
    margin-top: 35px;
}
.blog-slide .underln::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 6px;
    background: #03AD98;
    opacity: 0.3;
    z-index: -1;
}
/* 2nd .slide */
.customer-slide .swiper-slide img {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 15px;
}
.customer-slide .slides {
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 5%);
}
.customer-slide .slides .desc {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3B3F48;
    margin-right: 60px;
}
.customer-slide {
    padding-top: 10px !important;
}
.customer-slide .slides {
    background-color: transparent;
}
.customer-slide .slides .title {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #2C2C2C;
    mix-blend-mode: normal;
}
.customer-slide .slides .profile {
    color: #868686;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 0px;
}
.testimonial {
    margin-top: 110px;
}
section.cust-slider {
    padding-left: 72px;
}
.testimonial-heading {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    padding-left: 60px;
    line-height: 65px;
    color: #2C2C2C;
}
@media only screen and (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .lab-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-bg .home_page_btn{
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-logo-desk {
        display: none;
    }
    .rightplus, .rightplus2, .rightplus3, .leftplus{display: none;}

    .footer-logo-mob {
        display: block;
    }
    .footer-icon-mob{
        display: block;
        padding-left: 30px;
    }
    .footer-icon-desk{
        display: none;
    }
    .footer-menu{
        padding: 0!important;
    }
    .testimonial-heading {
        padding-left: 0px;
        padding-right: 0px;
    }
    .testimonial {
        margin-top: 50px;
    }
    .enroll-sect .app{
        flex-direction: column-reverse;
    }
    .opd-heading {
        padding-left: 30px !important;
        padding-right: 30px!important;
        text-align: center;
    }
    .enroll-button{
        display: flex;
        margin-bottom: 10px;
    }
    .enroll-button button{
        width: 100%;
    }
    .enroll-button button:first-child{
        margin-right: 15px;
    }
    .ceo {
        text-align: center;
    }
    .healthcare-section {
        padding: 0 10px;
    }
    .healthcare {
        padding: 20px;
    }
    .box2 {
        margin: 0 0 25px 0;
    }
    .box2 img {
        top: -14%;
    }
    .doc.opd.lab .lab-content {
        text-align: left;
    }
    .clinic .row.justify-content-center.align-items-center {
        flex-direction: column-reverse;
    }
    .clinic .clinic-cloud img{
        width: 80%;
    }
    .doc.test .row.justify-content-center.align-items-center {
        flex-direction: column-reverse;
    }
    .nav-desk{
        display: none;
    }
    .nav-mob{
        display: block;
    }
    .nav-mob {
        margin: 20px 20px 0 20px;
        border-top-left-radius: 10px!important;
        border-top-right-radius: 10px!important;
        padding-top: 0;
    }
    .nav-mob .navbar {
        border-top-left-radius: 10px!important;
        border-top-right-radius: 10px!important;
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
    .nav-mob .navbar-collapse {
        flex-basis: unset;
        flex-grow: 0;
        align-items: center;
    }
    .nav-mob .main_logo img {
        /* height: 60px !important;
        width: 200px !important; */
        padding-left: 0;
    }
    .nav-mob .right_section {
        padding-right: 0px;
    }
    .mob-banner{
        margin: 0px 20px 0 20px;
        border-bottom-left-radius: 10px!important;
        border-bottom-right-radius: 10px!important;
        padding-top: 0;
    }
    .mob-banner .hero-text {padding-left: 0;}
    .mob-banner .hero-text p {text-align: center;line-height: 60px;margin-bottom: 0;}
    .mob-banner .hero-image {width: 100%;}
    .mob-banner .hero-image .img {
        margin-top: 0;    
        width: 300px;
        height: 300px;
    }
    .mob-banner .hero-image .email-icon{
        left: 35%;
        width: 300px;
        height: 300px;
    }
    .lang-desk{
        display: none!important;
    }
    .lang-mob{
        display: block;
    }
    .lang-mob select{
        border: none;
        background: transparent;
    }
    .hero-para p {
        font-size: 16px;
        margin-top: 0 !important;
    }
    .hero-head p {
        font-size: 46px !important;
        margin-top: 0 !important;
    }
    .hero-image {
        margin-top: 26px;
    }
    .search-tab ul li a {
        font-size: 16px;
    }
    .search-p {
        width: 100%;
    }
    .selected-content.one {
        font-size: 16px;
    }
    .docOPD-title {
        font-size: 30px !important;
        line-height: 47px;
        padding-bottom: 10px;
    }
    .docOPD-section p {
        padding: 0!important;
        font-weight: 400;
        font-size: 18px;
    }
    .doc {
        margin-top: 50px;
    }
    .doc.test.lab .lab-content {
        margin-top: 50px;
    }
    .doc.opd.lab .opd-cloud {
        margin-top: 50px;
    }
    .doc.clinic.lab .clinic-cloud {
        margin-top: 50px;
    }
    .doc.clinic.lab .lab-content {
        margin-top: 50px;
    }
    .section1 {
        margin-top: 66px;
    }
    .section1 p {
        padding: 12px 4px 0 4px !important;
        font-size: 16px !important;
        line-height: 27px !important;
        margin-bottom: 3px;
    }
    .lab p {
        font-size: 16px !important;
        line-height: 24px !important;
        padding-bottom: 15px;
        padding-right: 0 !important;
    }
    .lab-cloud {
        margin-top: 60px;
    }
    .opd p {
        font-size: 16px !important;
        line-height: 24px !important;
        padding-bottom: 15px;
        padding-right: 0 !important;
    }
    .clinic p {
        font-size: 16px !important;
        line-height: 24px !important;
        padding-bottom: 15px;
        padding-right: 0 !important;
    }
    .healthcare-heading {
        padding-top: 90px;
    }
    .box2 {
        margin: 21px 2px 10px 6px !important;
        width: 304px;
        height: 211px;
    }
    .healthcare {
        padding-bottom: 80px !important;
        margin-top: 80px !important
    }
    .smallwave {
        top: 92.02%;
        right: 1%;
    }
    .people {
        margin-top: 56px !important
    }
    .people-heading {
        font-size: 30px !important;
        line-height: 47px;
    }
    .people-para {
        font-size: 16px !important;
        line-height: 24px !important;
    }
    .people img {
        width: 366px;
        height: 448px;
        left: 0 !important
    }
    .opdtext {
        font-size: 30px !important;
        line-height: 47px !important;
        padding-top: 15px;
    }
    .opdpara {
        font-size: 16px !important;
        line-height: 24px !important;
        text-align: center;
    }
    .neel {
        right: -5%;
        top: 92.02%;
    }
    .testimonial-heading {
        font-size: 30px !important;
        line-height: 47px !important;
        padding-top: 25px;
    }
    .customer-slide .slides .desc {
        margin-righT: 0;
    }
    .customer-slide .slides .title {
        margin-top: 90px;
    }
    .swiper-button-next {
        right: 27% !important;
    }
    .swiper-button-prev {
        left: 31% !important;
    }
    .app h1 {
        font-size: 49px !important;
        line-height: 62px !important;
        text-align: center;
    }
    .app {
        margin-top: 72px !important;
    }
    .apple,
    .google {
        margin-right: 10px;
        width: 160px;
        height: 48px;
    }
    .app p {
        text-align: center;
        font-size: 16px !important;
        line-height: 24px !important;
    }
    .footer-logo {
        left: 0;
    }
    .logo-section {
        text-align: center;
    }
    .copyright p {
        font-size: 13px;
        padding-left: 13px;
    }
}
@media only screen and (min-width: 768px){
    .footer-logo-mob {
        display: none;
    }

    .footer-logo-desk {
        display: block;
    }
    .footer-icon-mob{
        display: none;
    }
    .footer-icon-desk{
        display: block;
    }
    .nav-desk{
        display: block;
    }
    .nav-mob{
        display: none;
    }
    .lang-desk{
        display: block;
    }
    .lang-mob{
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 576px){
    .blog-swiper {
        padding: 10px;
    }
    .rightplus, .rightplus2, .rightplus3, .leftplus{display: none;}

}
@media only screen and (min-width:320px) and (max-width:680px){
    section.cust-slider {
        padding: 0 20px;
    }
    .cust-say .testimonial-heading{
        text-align: center;        
    }
    .rightplus, .rightplus2, .rightplus3, .leftplus{display: none;}
    .hero-head p{font-size:44px !important;}
    .mob-banner .hero-image {position: relative;left: 10%;}

}

.rightplus{width:170px;height:170px;position:absolute;left:0;}
.leftplus{width:170px;height:170px;position:absolute;right:-1%;}
.rightplus2{width:170px;height:170px;margin-top:50px;position:absolute;left:0;}
.rightplus3{width:170px;height:170px;position:absolute;left:0;}
